html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #27ae60;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  width: 500px;
  margin: 50px auto 20px;
  color: #f0f0f0;
  text-align: center;
}

h2 {
  width: 500px;
  color: #f0f0f0;
  text-align: center;
}

h3 {
  text-align: center;
  color: #f0f0f0;
}

p {
  text-align: center;
  color: #f0f0f0;
}

.nav {
  width: 427,px;
  margin: 0 auto;
  background: #1e8449;
  color: #f0f0f0;
}
.nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__menu-item {
  display: inline-block;
  position: relative;
}
.nav__menu-item:hover {
  background-color: #34b7eb;
}
.nav__menu-item:hover .nav__submenu {
  display: block;
}
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
  background-color: #00bbff;
}
.nav__submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
